<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
             <script type="text/javascript"
     src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
        <script type="text/javascript"
     src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js">
    </script>
        {{ form.media }}
</head>
<body>
    <div>

        <nav class="navbar navbar-inverse" >
        <div class="containter-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'accounts:index' %}">
                    HOME
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'accounts:gallery' %}"> Galeria </a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:contact' %}"> Kontakt </a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'accounts:profile' %}"> {{ user.username }} </a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:logout' %}"> Wyloguj&nbsp;&nbsp; &nbsp;&nbsp; </a>
                    </li>
                     <li>
                    {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}"> Zaloguj </a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:register' %}"> Zarejestruj&nbsp;&nbsp; &nbsp;&nbsp; </a>
                    </li>
                    <li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
    </div>
   <div class="container">
        <div class="panel panel-default panel-findroom">
            <div class="panel-body">

                {% block content %}
                {% endblock %}

            </div>
        </div>
      </div>
    <footer class="footer">
          <div class="container">
            <p class="text-muted">Stopka</p>
          </div>
    </footer>
</body>
</html>