{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}

    <h1>
        Kontakt
    </h1>
    <div>
        <ul class="list-unstyled">
            <li>
                <h3>Hotel Pod Psem</h3>
            </li>
            <li>
                Adres:
                <ul>
                    <li>
                        ul. Behawioralna 66
                    </li>
                    <li>
                        66-666 Szaolin
                    </li>
                </ul>
            </li>
            <li>
                Nr kontaktowy:
                <ul>
                    <li>
                        666 666 666
                    </li>
                    <li>
                        999 666 999
                    </li>
                </ul>
            </li>
            <li>
                Adres e-mail:
                <ul>
                    <li>
                        mail@hotel.pod.pies
                    </li>
                </ul>
            </li>
        </ul>
        <a href="{% url 'accounts:mail' %}">
            <button>Wyslij e-mail</button>
        </a>
    </div>

{% endblock %}