{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}

                <h1>
                    Znajdź pokój
                </h1>
               <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <button type="submit">Szukaj</button>
                   <button type="reset" >Wyczyść</button>
               </form>
                <a href="{% url 'accounts:room-list' %}">
                    <button>Lista wszystkich pokoi</button>
                </a>



{% endblock %}

