<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/layout.css' %}">
		<title>Serwis komputerowy</title>
		<meta name="description" content="Strona główna">
	</head>

	{%block content %}
	{% endblock %}

</html>
