{% extends 'accounts/base.html' %}
{% load staticfiles %}



{% block content %}

<h1>
    Logowanie
</h1>

<form class="in-form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        <br>
        {% endfor %}
            <div class="form-actions">
                <br><button type="submit">Zaloguj</button>
                <a href="{% url 'accounts:register' %}" style="text-decoration:none;">
                    <font size="2">
                        Nie masz konta? Zarejestruj!
                    </font>
                </a>
            </div>

</form>


{% endblock %}