{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>
    {% if user.profile.is_employee %}
        Pracownik {{ user }}
    {% else %}
        Klient {{ user }}
    {% endif %}
</h1>

    <ul class="list-unstyled">
        <li>
            Imię: {{ user.first_name }}
        </li>
        <li>
            Nazwisko: {{ user.last_name }}
        </li>
        <li>
            E-mail: {{ user.email }}
        </li>
        {% if not user.profile.is_employee %}
            <li>
            Rezerwacje: <br>
                <div class="list-group">
                    {% for reservation in reservations %}
                         <a href="{% url 'accounts:reservation-detail' reservation.id %}" class="list-group-item">
                             Pokój nr {{ reservation.room }} <br>
                             {{ reservation.room.get_type_display }}
                             {% if reservation.room.is_occupied %}
                                Zajęty w dniach:
                             <ul>
                                 {% for date in reservation.room.reservation_set.all %}
                                 <li>
                                     {{ date.start_date }} - {{ date.end_date }}
                                 </li>
                                 {% endfor %}
                             </ul>
                             {% endif %}
                         </a>
                    {% endfor %}
                     </div>
            </li>
        {% else %}
        <li>
            Data zatrudnienia: {{ user.profile.hire_date }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
