{% extends 'accounts/base.html' %}
{% load static %}


{% block content %}

<h1>Rejestracja</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in user_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        <br>
        {% endfor %}
         <div class="form-actions">
                <br><button type="submit">Zarejestruj</button>
                <button type="reset" >Wyczyść</button>
         </div>
    </form>

{% endblock %}

