{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}
                     <h1>
                  Szczegóły rezerwacji {{ reservation }}
                </h1>
                <ul>
                    <li>
                        Numer pokoju: {{ reservation.room.id }}
                    </li>
                    <li>
                        Czas rezerwacji: {{ reservation.start_date }} - {{ reservation.end_date }}
                    </li>
                    <li>
                        Koszt: {{ reservation.payment.price }} zł
                    </li>
                    <li>
                        Sposób płatności: {{ reservation.payment.get_method_display }}
                    </li>
                    <li>
                        Czy potwierdzono:
                        {% if reservation.is_confirmed %}
                           <font color="green">POTWIERDZONO</font>
                        {% else %}
                           <font color="blue">NIE POTWIERDZONO</font>
                        {% endif %}
                    </li>
                    <li>
                         Czy zapłacono:
                        {% if reservation.payment.is_paid %}
                           <font color="green">ZAPŁACONO</font>
                        {% else %}
                           <font color="blue">NIE ZAPŁACONO</font>
                        {% endif %}
                    </li>

                </ul>
                <a href="{% url 'accounts:profile' %}">
                        <button>Wróć do profilu</button>
            </a>



{% endblock %}