{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}

                <h1>
                   Zarezerwowano pokój {{ reservation.room }}
                   <h3>Prosimy o potwierdzenie rezerwacji<h3>
                </h1>
                <ul>
                    <li>
                        Czas rezerwacji: {{ reservation.start_date }} - {{ reservation.end_date }}
                    </li>
                    <li>
                        Koszt: {{ payment.price }}
                    </li>
                    <li>
                        Sposób płatności: {{ payment.get_method_display }}
                    </li>

                </ul>
                <a href="{% url 'accounts:index' %}">
                        <button>Wróć do wyszkuiwania</button>
            </a>

{% endblock %}