{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}
                    Szczegóły pokoju nr {{ room.id }}
                    <ul>
                        <li>
                             {{ room.get_type_display }}
                        </li>
                        <li>
                             {{ room.price }} zł/doba
                        </li>
                         <li>
                             {% if room.is_occupied %}
                             Zajęty w dniach:
                             <ul>
                                  {% for data in room.reservation_set.all %}
                                    <li>
                                        {{ data.start_date }} - {{ data.end_date }}
                                    </li>
                                 {% endfor %}
                             </ul>

                             {% else %}
                             Wolny
                             {% endif %}
                        </li>
                    </ul>
                    <a href="{% url 'accounts:reserve-room' room.pk %}">
                        <button>Rezerwuj</button>
                    </a>
                    <a href="{% url 'accounts:room-list' %}">
                        <button>Wróć do listy</button>
                    </a>
                    <a href="{% url 'accounts:index' %}">
                        <button>Wróć do wyszukiwania</button>
                    </a>



{% endblock %}