{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}
                    {% if not rooms %}
                        <br>Brak pokoi do wyświetlenia
                    {% endif %}
                    {% for room in rooms %}
                     <div class="list-group">
                         <a href="{% url 'accounts:room-detail' room.id %}" class="list-group-item">
                             Pokój nr {{ room }} <br>
                             {{ room.get_type_display }}
                             {% if room.is_occupied %}
                                Zajęty w dniach:
                             <ul>
                                 {% for date in room.reservation_set.all %}
                                 <li>
                                     {{ date.start_date }} - {{ date.end_date }}
                                 </li>
                                 {% endfor %}
                             </ul>

                             {% else %}
                                 Wolny
                             {% endif %}
                         </a>
                     </div>
                    {% endfor %}
                    <a href="{% url 'accounts:index' %}">
                        <button>Wróć do wyszukiwania</button>
                    </a>

{% endblock %}