{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}

                <h1>
                    Rezerwuj pokój nr {{ room }}
                </h1>
              <form action="." method="post">
               {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div><br>
        {% endfor %}
                  <ul>
                        <li>
                             {{ room.get_type_display }}
                        </li>
                        <li>
                             {{ room.price }} zł/doba
                        </li>
                         <li>
                             {% if room.is_occupied %}
                             Zajęty w dniach:
                             <ul>
                                  {% for data in room.reservation_set.all %}
                                    <li>
                                        {{ data.start_date }} - {{ data.end_date }}
                                    </li>
                                 {% endfor %}
                             </ul>

                             {% else %}
                             Wolny
                             {% endif %}
                        </li>
                    </ul>
                <button type="submit" >Zarezerwuj</button>
                <button type="reset" >Wyczyść</button>
              </form>
            <a href="{% url 'accounts:room-list' %}">
                        <button>Wróć do listy</button>
            </a>


{% endblock %}