{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block content %}

    <h1>
        Wyslij e-mail
    </h1>
    <form method="post">
        {% csrf_token %}
         {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit">Wyślij</button>
        </div>
    </form>

{% endblock %}