
body {
    background-image: url("images/bg.jpg");
    background-color: white;
    opacity: 0.93;
    margin-bottom: 60px;
}

.navbar-inverse {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #ff4d4d;
    border-color: red;
}

.navbar-inverse .navbar-header > a {
    color: white;
}

.navbar-inverse .navbar-header > a:hover {
    color: grey;
}

.navbar-inverse .navbar-nav > li > a:hover{
color: grey;
}

.navbar-inverse .navbar-nav > li > a{
color: white;
}

.panel-findroom {
    background-color: #ff4d4d;
    margin: 0 auto;
}

.panel-body {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ff4d4d;
  border-color: red;
}


body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}






